<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="container py-3">
  <div class="row">
    <div class="col s12">
      <form action="http://localhost:3000/event/edit/<%= item.uuid %>" method="POST">

        <input type="hidden" name="id" value="<%= item.uuid %>">

        <div class="form-group">
          <label for="name">Event Name</label>
          <input type="text" name="name" value="<%= item.name %>" class="form-control">
        </div>

        <div class="form-group">
          <label for="start_date">Start Date</label>
          <input type="datetime-local" name="start_date" value="<%= item.start_date%>" class="form-control">
        </div>

        <div class="form-group">
          <label for="end_date">End Date</label>
          <input type="datetime-local" name="end_date" value="<%= item.end_date%>" class="form-control">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <textarea name="description" id="description" rows="5" class="form-control">
            <%= item.description %>
          </textarea>
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          <textarea name="location" id="location" rows="5" class="form-control">
            <%= item.location %>
          </textarea>
        </div>

        <div class="d-flex justify-content-end">
          <a href="/" class="btn btn-warning mr-2">
            Cancel
          </a>
          <button type="submit" class="btn btn-primary">
            Submit Event
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
